.sidebar {
  height: 100vh;
  min-width: 200px;
  width: 30%;
}

.sidebar--header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  font-size: 1.2rem;
}

.sidebar--button {
  height: 1.7rem;
  width: 1.7rem;
  background-color: steelblue;
  border-radius: 5px;
  border: none;
  color: #ffff;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 500ms;
}

.sidebar--button:hover {
  background-color: rgb(49, 100, 143);
}

.sidebar--note > h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 1rem 0.8rem;
  cursor: pointer;
  color: #292d33;
  margin: 0;
  padding: 1.2rem 1rem;
  font-weight: 400;
}

.sidebar--note.active > h4 {
  background-color: steelblue;
  color: #ffff;
  font-weight: bolder;
}
