@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
}

#root {
  background-color: wheat;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: "Courier New", Courier, monospace; */
  /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  font-family: "Geologica", sans-serif;
}

main {
  height: 100dvh;
  width: 80vw;
  margin: auto;
  background-color: white;
}

.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("grips/vertical.png");
  cursor: col-resize;
}

.split {
  display: flex;
  box-sizing: border-box;
}

/* Note: i guess this width must be the same as the one used on the split component otherwise the width is like half, i spent quite a while messing around to 'fix' this that may have been fixed if i just read the documentation but alas, i like to mess around a bit. */
.editor {
  width: calc(65% - 5px);
}
